{% extends 'master.html' %} {% block contenido %}
<div class="form-horizontal" style=" margin: 0 auto; width: 50%; margin-top: 10px; margin-bottom: 10px; background-color:aquamarine;">
    <form class="form-check" method="POST">

        {% csrf_token %}
        <h5>Venta: {{producto.nombre}}</h5>
        <h5>Precio: {{producto.precio}}</h5>
        {{formulario_detalle.as_p}} {{formulario_venta.as_p}}

        <button type="submit" class="btn btn-primary">ADD</button>

    </form>

</div>

{% endblock %}