{% extends 'master.html' %} {% block contenido %}
<div class="form-horizontal">

    <form class="form-check" method="POST">
        {% csrf_token %}
        <div class="row">

            <h5>{{cliente.nombres}} {{cliente.apellidos}} Vehiculo:</h5>

            {{formulario_vehiculo.as_p}}
        </div>
        <a href="{% url 'crearVehiculo' cliente.cedula%}" type="button" class="btn btn-primary">ADD</a>

        <a href="{% url 'home_page'%}" type="button" class="btn btn-secondary">HOME</a>
    </form>

</div>

{% endblock %}