<!-- Grey with black text -->
<nav class="navbar navbar-expand-sm " style="background-color: #A7A7A7;">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <h4> Crear</h4>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="text-decoration: none;" href="{% url 'crearCliente' %}">Cliente</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="text-decoration: none;" href="{% url 'clientes' %}">Vehiculo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " style="text-decoration: none;" href="{% url 'crearProducto' %}">Producto</a>
        </li>
    </ul>
</nav>