<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar" style="background-color: #A7A7A7;">

        <div id="dismiss">
            <i class="fas fa-arrow-left"></i>
        </div>

        <nav class="navbar navbar-expand-sm " style="background-color: #A7A7A7;">
            <h3> ARES</h3>
        </nav>
        <nav class="navbar navbar-expand-sm " style="background-color: white">

            <a class="nav-link" href="{% url 'clientes' %}">Clientes</a>

        </nav>
        <nav class="navbar navbar-expand-sm " style="background-color:white">

            <a class="nav-link" href="{% url 'productos' %}">Productos</a>

        </nav>
        <nav class="navbar navbar-expand-sm " style="background-color:white">

            <a class="nav-link" href="{% url 'listarVentas' %}">Ventas</a>

        </nav>

    </nav>


</div>